<?php

use Models\View as View;

$error = new View('404 | Oeps... something went wrong');

echo '<div class="container-fluid mt-4 mb-4">',"\n",
        '<div class="row">',"\n",
            '<div class="col">',"\n",
                '<p>';
echo                isset($message)? $message : '';
echo            '</p>',
                '<a href="/">Go to the homepage</a>',"\n",
            '</div>',"\n",
        '</div>',"\n",
    '</div>',"\n";