<?php

use Models\View as View;

$homepage = new View('Homepage | Login to facebook');

echo '<div class="container-fluid mt-4 mb-4">',"\n",
        '<div class="row">',"\n",
            '<div class="col-md-3 col-lg-2">',"\n",
                '<ul class="nav flex-column">',
                    '<li class="nav-item"><a href="/" class="nav-link active">Home</a></li>',
                '</ul>',
            '</div>',"\n",
            '<div class="col-md-9 col-lg-10">',"\n",
                '<p>';
echo                isset($message)? $message : '';
echo            '</p>',
                '<a href="/login" class="btn btn-primary">Click Here To Login Using Facebook</a>',"\n",
            '</div>',"\n",
        '</div>',"\n",
    '</div>',"\n";