<?php

use Models\View as View;

$homepage = new View('Logged in | User details');

echo '<div class="container-fluid mt-4 mb-4">',"\n",
        '<div class="row">',"\n",
            '<div class="col-md-3 col-lg-2">',"\n",
                '<ul class="nav flex-column">',
                    '<li class="nav-item"><a href="/" class="nav-link active">Home</a></li>',
                    '<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>',
                '</ul>',
            '</div>',"\n",
            '<div class="col-md-9 col-lg-10">',"\n",
                '<div class="card">',"\n",
                    '<div class="card-body">',"\n",
                        '<h4 class="card-title">User Details</h4>',"\n",
                        '<div class="row">',"\n",
                            '<div class="col-sm-4 col-md-1 d-flex justify-content-center align-items-center">',"\n";
                                if(isset($user)){
                                    $picture = $user->getPictures()['data'];
                                    echo '<img src="'. $picture['url'] .'" width="100%" class="img-fluid">';
                                }
echo                        '</div>',"\n",
                            '<div class="col-sm-8 col-md-11">',"\n",
                                '<ul class="nav flex-column" id="UserDetailsList">',"\n",
                                    '<li class="nav-link"><span class="form-label">User id</span>: ',"\n",
                                        $user->getId(),
                                    '</li>',"\n",
                                    '<li class="nav-link"><span class="form-label">Full name</span>: ',"\n",
                                    $user->getName(),
                                    '</li>',"\n",
                                    '<li class="nav-link"><span class="form-label">Birthday</span>: ',"\n",
                                    $user->getBirthday(),
                                    '</li>',"\n",
                                '</ul>',"\n",
                            '</div>',"\n",
                        '</div>',"\n",
                    '</div>',"\n",
                '</div>',"\n",
            '</div>',"\n",
        '</div>',"\n",
    '</div>',"\n";